[submodule "AdvancedProgramming/Advanced_Programming"]
	path = AdvancedProgramming/Advanced_Programming
	url = https://github.itu.dk/miejo/Advanced_Programming.git
[submodule "AlgorithmDesign/Algorithm-Design"]
	path = AlgorithmDesign/Algorithm-Design
	url = https://github.itu.dk/miejo/Algorithm-Design.git
[submodule "DevOps/ITU-MiniTwit"]
	path = DevOps/ITU-MiniTwit
	url = https://github.com/Mie-Jonasson/ITU-MiniTwit.git
[submodule "DevOps/MiniTwit"]
	path = DevOps/MiniTwit
	url = https://github.com/TienCamLy/MiniTwit.git
[submodule "PracticalConcurrentAndParallelProgramming/PCPP_group_"]
	path = PracticalConcurrentAndParallelProgramming/PCPP_group_
	url = https://github.itu.dk/krpa/PCPP_group_.git
[submodule "PracticalConcurrentAndParallelProgramming/PCPP2025-Public"]
	path = PracticalConcurrentAndParallelProgramming/PCPP2025-Public
	url = https://github.itu.dk/jst/PCPP2025-Public.git
